################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.manifest
/BadProject/BadProject/obj/Debug/BadProject.csproj.AssemblyReference.cache
/BadProject/BadProject/obj/Debug/BadProject.csproj.CoreCompileInputs.cache
/BadProject/BadProject/obj/Debug/BadProject.csproj.FileListAbsolute.txt
/BadProject/BadProject/obj/Debug/BadProject.pdb
*.cache
/BadProject/BadProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
*.vsidx
/BadProject/.vs/BadProject/FileContentIndex/read.lock
*.v2
*.testlog
/BadProject/BadProject/bin/Debug/BadProject.pdb
/BadProject/BadProject/bin/Debug/BadProject.dll
/BadProject/BadProject/bin/Debug/ThirdParty.dll
/BadProject/BadProject/bin/Debug/ThirdParty.pdb
/BadProject/BadProject/obj/Debug/BadProject.dll
*.exe
/BadProject/Tests/obj/Debug/net7.0/Tests.sourcelink.json
*.json
*.props
/BadProject/ThirdParty/bin/Debug/ThirdParty.dll
/BadProject/ThirdParty/bin/Debug/ThirdParty.pdb
/BadProject/ThirdParty/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BadProject/ThirdParty/obj/Debug/ThirdParty.csproj.CoreCompileInputs.cache
/BadProject/ThirdParty/obj/Debug/ThirdParty.csproj.FileListAbsolute.txt
/BadProject/ThirdParty/obj/Debug/ThirdParty.dll
/BadProject/ThirdParty/obj/Debug/ThirdParty.pdb
/BadProject/BadProject/Properties/AssemblyInfo.cs
/BadProject/Tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/BadProject/Tests/obj/Debug/net7.0/Tests.AssemblyInfo.cs
/BadProject/Tests/obj/Debug/net7.0/Tests.csproj.CopyComplete
/BadProject/Tests/obj/Debug/net7.0/Tests.csproj.FileListAbsolute.txt
/BadProject/Tests/obj/Debug/net7.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
/BadProject/ThirdParty/Properties/AssemblyInfo.cs
*.user
